.App {
  background-color: #3a3b3c;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-results-error {
  font-size: calc(10px + 2vmin);
  transform: translateY(-200px);
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.search-bar {
  position: sticky;
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: lightblue;
  background-position: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.search-form {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 6px;
}

.search-button {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.search-button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.clear-button {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 130px;
  height: 30px;
  border: 2px solid black;
  font-size: 15px;
  font-weight: bold;
  background-color: red;
  border-radius: 10px;
  margin-left: 5px;
}

.clear-button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.pokemon-card {
  margin-top: 20px;
  margin-right: 20px;
  user-select: none;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: 0.1s;
}

.pokemon-card:hover {
  box-shadow: 0 8px 50px 0 rgba(255, 255, 255, 255);
}

.pokemon-card-container {
  padding: 6px 16px;
}

.pokemon-card-header {
  display: flex;
  justify-content: center;
  gap: 7%;
  width: 900px;
}

.background-image-container {
  pointer-events: none;
  user-select: none;
  display: flex;
  align-self: center;
  justify-content: center;
  background-size: cover;
  border: 20px solid #ffd700;
  border-radius: 10px;
}

.pokeball-image {
  width: 16%;
  pointer-events: none;
}

.top-small-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #ffd700;
  font-family: Copperplate, fantasy;
  font-size: 50px;
  color: black;
}

.bottom-small-box {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #ffd700;
  font-family: Copperplate, fantasy;
  font-size: 50px;
  color: black;
}
