 /*background-image: url("./images/pikachu.png");*/
.App {
  text-align: center;
  background-color: #282c34;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  row-gap: 100px;
  color: white;
}

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: red;
}

.pokemon-card {
  user-select: none;
  padding:30px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
  transition: 0.1s;
}

.pokemon-card:hover {
  box-shadow: 0 8px 50px 0 rgba(255,255,255,255);
}

.pokemon-card-container {
  padding: 6px 16px
}

.background-image-container {
  display:flex;
  align-self:center;
  justify-content: center;
  background-image: url('./images/pokemoncard_forest.png');
  background-size: cover;
  border: 20px solid gold;
  border-radius: 10px; 
}
.pokeball-image {
  width: 18%;
  height: 10%;
}

.card-small-box {
  width: 800px;
	height: 80px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: gold;
  font-family: fantasy;
  font-size: 50px;
  color: black
}